<html>

<head>
  <title>Buzzz</title>
  <link rel="icon" href="medias/favicon.ico" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="../public/css/home.css">
</head>

<body>

  <script>
  </script>

  <span id='latitude'></span>
  <span id='longitude'></span>
  <script src="scripts/meteo.js"></script>
  <% if (messages.error) { %>
  <%= messages.error %>
  <% } %>
  <nav class="navbar navbar-light bg-white">
    <a href="/home" class="navbar-brand"> <img id="logo" src="medias/logo_header.png" alt="Logo"> <span id="logo-text">
        BUZZZ </span></a>
    <a href="/logout"><button type="button" class="btn btn-default btn-sm">
        <span class="fas fa-sign-out-alt"></span> Se déconnecter
      </button>
    </a>
    <%- include ("./messages") %>
    <% if(isCompleted == true) {%>
    <div>
      <form method="post" action="/search" class="form-inline my-0 my-lg-0">
        <div class="input-group">
          <input aria-label="search" name="search" id="search" class="form-control" placeholder="Rechercher"
            aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-warning" type="submit" id="button-addon2">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </form>
    </div>
    <% } %>
  </nav>

  <% if(isCompleted == true) {%>
  <div class="container-fluid gedf-wrapper">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="h5">
              <img class="rounded-circle" width="60" src="<%= profilePictureURL %>" alt="">
              @<a href="/profile/<%= id%>"><%= alias%></a>
            </div>

            <div class="h7 text-muted">
              <% if(gender == "Femme") {%>
              <span style='color: Hotpink' class="fas fa-venus"></span>
              <% } else { %>
              <span style="color: Dodgerblue" class="fas fa-venus"></span>
              <% } %>
              <%= firstname%>
              <%=lastname %>
            </div>
            <div class="h7">
              <%= description%>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h6 text-muted">Date de naissance</div>
              <div class="h5"><%= birthdate%></div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">Mes Amis</div>
              <ul>
                <% var friendship;%>

                <% if (!friendships =="" ) {for (var i = 0; i < friendships.length ; i++) { %>
                <% friendship = friendships[i] %>
                <li> <a href="/profile/<%= friendship.friend.id%>"><%= friendship.friend.firstName%>
                    <%= friendship.friend.lastName%></a>
                  <a title="Ne plus êtes ami" href="/removeFriend/<%= friendship.friend.id%>">
                    <i class="fas fa-user-times"></i>
                  </a>
                </li>
                <% }} %>
              </ul>
            </li>
            <li class="list-group-item"><%=city%>, <%=country%></li>
          </ul>
          <ul class="list-group list-group-flush">

            <div id="weather">
              <li class="list-group-item">
                <button id="location-button" type="submit" class="btn btn-warning">Voir la météo</button>
              </li>
            </div>
            <div id="weather2">
              <li class="list-group-item">
              </li>
            </div>
          </ul>
        </div>
      </div>
      <div class="col-md-6 gedf-main">

        <!--- \\\\\\\Post-->
        <div class="card gedf-card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab"
                  aria-controls="posts" aria-selected="true">Ecrire
                  une publication</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images"
                  aria-selected="false" href="#images">Images</a>
              </li>
            </ul>
          </div>
          <div class="card-body">

            <form role="form" enctype="multipart/form-data" method="post" action="/home">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                  <div class="form-group">
                    <label class="sr-only" for="message">Votre message</label>
                    <textarea class="form-control" name="post" id="message" rows="3"
                      placeholder="Que voulez vous publier ?"></textarea>
                  </div>

                </div>
                <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                  <div class="form-group">
                    <div class="custom-file">
                      <input type="file" enctype="multipart/form-data" class="custom-file-input" name="customFile">
                      <label class="custom-file-label" for="customFile">Parcourir</label>
                    </div>
                  </div>
                  <div class="py-4"></div>
                </div>
              </div>
              <div class="btn-toolbar justify-content-between">
                <div class="btn-group">
                  <input type="submit" class="btn btn-warning" value="Publier">
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Post /////-->

        <!--- \\\\\\\Post-->
        <% posts.forEach(function(post) {
          var actualUser;
          var affichage = false;
          var affichage_friend = false;
          
          if (id == post.userId){
            affichage =true 
          } 
          else {
            affichage = false;
          }

          for (var i = 0; i < friendships.length ; i++) {


          if(friendships.find(friendships => friendships._id == post.userId)){
            affichage_friend = true;
          } else {
            affichage_friend = false;
          }
        }
          if (affichage || affichage_friend) {
            
          users.forEach(function(user) {
            if (user._id == post.userId){
            actualUser = user%>
        <br />
        <div class="card gedf-card">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-between align-items-center">
                <div class="mr-2">
                  <img class="rounded-circle" width="45" height="45" src="<%=actualUser.profilePictureURL%>" alt="">
                </div>
                <div class="ml-2">
                  <div class="h5 m-0"><a href="/profile/<%= actualUser._id%>"><%= actualUser.firstName %>
                      <%= actualUser.lastName %></a></div>
                </div>
              </div>
              <div>
              </div>
            </div>

          </div>
          <div class="card-body">
            <div class="text-muted h7 mb-2"> <i class="far fa-clock"></i>
              <%
              var myDate = parseInt(post.createdOn, 10);
              var date = new Date(myDate);
              var fdate =  ("0" + date.getDate()).slice(-2) + '/' + ("0" + (date.getMonth() + 1)).slice(-2) + '/' + date.getFullYear()
              %>
              <%= fdate %></div>

            <p class="card-text">
              <% if(post.post) { %>
              <%= post.post %><% }else if (post.postImage){%>
              <img width="600" height="600" src="<%= post.postImage %>" alt="">
              <%}%>
            </p>
          </div>
        </div>
        <%}}) %>
              <%}%>
              <% }); %>

              <!-- Post /////-->


          </div>
          <div class="col-md-3">
            <div class="card gedf-card">
              <div class="card-body">
                <h5 class="card-title">Messagerie</h5>
                <div class="card-subtitle mb-2 text-muted" is="messsagerie">Vous n'avez pas de message.</div>
                <div class="card-subtitle mb-2 text-muted" is="messsagerie">
                  <ul id="connectedFriends"> </ul>
                </div>
                <div class="container">
                  <div class="list" id="chat"> </div>


                  <label for="messageToSend">Votre message :</label>
                  <input type="text" class="input-group-text" id="messageToSend"></input>
                  <br />
                  <input type="button" class="btn btn-info" value="envoyer" id="submit-message"></input>

                </div>
              </div>
            </div>
          </div>
          <%} else {%>
          <%- include("modal.ejs") %>
          <% } %>
          <div style="height:50">&nbsp;</div>
</body>
<script>
  jQuery(function ($) {
    var socket = io.connect();
    var $messageSubmit = $("#submit-message");
    var $messageBox = $("#messageToSend");
    var $chat = $("#chat");
    var $friendsConnected = $("#connectedFriends");

    socket.emit('new user', '<%=alias %>', function (data) {
      if (data) {
        console.log("deja connecté");
      }
    });

    socket.on("usernames", function (data) {
      var html = '';
      for (var i = 0; i < data.length; i++) {
        html += '<li>' + data[i] + '</li>'
      }
      $friendsConnected.append(html);
    });

    $messageSubmit.click(function () {
      socket.emit('send message', $messageBox.val());
      $messageBox.val('');
    });

    socket.on("send message", function (data) {
      $chat.append(data + "<br/>");
    });

  });
</script>
<style>
  footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color: white;
  }

  footer a:link {
    color: #fbc303;
  }

  footer a:visited {
    color: #f68a0d;
  }

  footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
  }
</style>
<footer>
  <p>© 2020<a href="#"> Buzzz </a>- Yazid MOUTAOUAKIL / Alexandre DA COSTA E SILVA - LPI-RIWS L3</p>
</footer>

</html>